{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": ["react", "react-hooks"],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:react/recommended",
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ['@/components', './components']
        ],
        extensions: ['.js', '.jsx']
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "jsx-a11y/anchor-is-valid": "off",
    "linebreak-style": ["error", "unix"],
    "no-nested-ternary": "off",
    "object-curly-newline": ["error", { "multiline": true }],
    "operator-linebreak": ["error", "after", { "overrides": { "?": "before", ":": "before" } }],
    "react/display-name": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-props-no-spreading": ["error", {
      "custom": "ignore"
    }],
    "react/react-in-jsx-scope": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "semi": ["error", "never"]
  }
}
